.wrapper
{
    max-width: 1000px;
    height: 100%;
    margin: auto;
    font-family: "Arial";
}

.toolbar
{
    width: 100%;
    background-color: grey;
    overflow: auto;
}

/* toolbar images */
.toolbar a
{
    float: left;
/*    width: 15%;*/
    display: flex;
    text-align: center;
    padding: 6px 5px;
    transition: all 0.5s ease;
}

.toolbar a:hover
{
    background-color: black;
}

.toolbar a .selected img
{
    width: 10px;
    height: 10px;
}

.selected
{
    background-color: black;
}

#my-canvas
{
    width: 100%;
    border: 3px solid black;
}

.canvas a
{
    display: block;
    width: 100px;
    margin: auto;
}

.canvas a img
{
    background-color: grey;
    display: block;
    width: 100px;
    margin: auto;
}

.canvas #img-file
{
    text-align: center;
    margin-top: 1rem;
}

.toolbar a img
{
    max-width: 100%;
    height: auto;
}





